body {
  //padding-top: 1.5rem;
  //padding-bottom: 1.5rem;
  font-family: "Montserrat", arial, sans-serif !important;
  color: #2D3436;
}

h1 {
  font-size: 20px;
  font-weight: 800 !important;
  color: #2D3436;
  font-family: "Montserrat", arial, sans-serif ;
  line-height: 1;
}

h2{
  display: block;
  font-size: 28px !important;
  font-weight: 800 !important;
  color: #2D3436;
  font-family: "Montserrat", arial, sans-serif ;
  line-height: 1;
}

h3{
  display: block;
  font-size: 15px !important;
  letter-spacing: 2px;
  font-weight: 800 !important;
  color: #2D343680;
  font-family: "Montserrat", arial, sans-serif ;
  line-height: 1;
}

button {
  border: none;
  background-color: transparent;
}

section {
  max-width: 924px;
  margin: auto;
}

@media (max-width: 768px) {
  section {
    max-width: 600px;
  }
}

@media (max-width: 425px) {
  section {
    max-width: 377px;
  }

  h1 {
    font-size: 32px !important;
    margin: 20px auto !important;
  }
}


/* ----------------- TOPBAR -----------------  */

#topbar {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #EDEDED;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

#logoText {
  font-size: 32px;
  font-weight: 800 !important;
  color: #2D3436;
  font-family: "Montserrat", arial, sans-serif ;
  margin: 0 !important;
}

#logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width:50px;
  height:50px;
  margin-right: 16px;
}

#topbar a {
  float: left;
  display: block;
  color: #2D3436;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topbar a:hover {
  background-color: #58DDAF;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.main {
  margin-top: 30px;
}


/* ----------------- INTR0 -----------------  */

#intro {
  margin: 60px auto 40px auto;
  padding-top: 60px;
  width: auto;
  display: block;
  justify-content: center;
  text-align: center;
}

@media (max-width: 425px){
  #intro {
    margin: 40px 24px;
  }
}


/* ----------------- SLIDER -----------------  */

#sliderBlock {
  margin: 80px auto 120px auto;
  display: block;
}

#slider {
  width: 100%;
  height: 400px;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}

#slides {
  position: absolute;
  width: 100%;
  font-size: 18px;
  color: #2D3436;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background-color: #DFE6E950;
  border-radius: 4px;
}

#slideImg {
  height: 320px;
  margin: auto 10px auto 30px;
  display: flex;
}

#slideText {
  text-align: left;
  max-width: 400px;
  margin: auto 30px;
}

.sliderButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: #2D3436;
  padding: 10px 15px;
}

#prevBtn, #nextBtn {
  color: #2D3436;
  padding: 14px 20px;
  font-size: 24px;
}

#pauseBtn, #playBtn {
  color: #2D3436;
  padding: 16px 18px;
  font-size: 20px;
}

#prevBtn:hover, #nextBtn:hover {
  color: #ffffff;
  padding: 14px 20px;
  background-color: #58DDAF;
  border-radius: 40px;
}

#pauseBtn:hover, #playBtn:hover {
  color: #ffffff;
  padding: 16px 18px;
  background-color: #58DDAF;
  border-radius: 40px;
}

#slideText h2 {
  margin: 20px auto;
}

@media (max-width: 768px){
  #sliderBlock {
    margin: 80px auto;
  }

  #slider {
    height: 560px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }

  #slides {
    display: flex;
    flex-direction: column;
    padding: 60px 40px 30px 40px;
  }

  #slideText {
    max-width: 400px;
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 425px){
  #slideImg {
    height: 220px;
    margin: auto;
  }

  #sliderBlock {
    margin: 50px auto;
  }

  #slideText {
    margin: 30px auto 0 auto;
  }

  #slideText h2 {
    font-size: 22px !important;
  }

  #slideText p {
    font-size: 16px !important;
  }

  #slider {
    height: 520px;
    margin-bottom: 0;
  }
}


/* ----------------- BLOCK MAP + RESERVATION -----------------  */

.mapReservationBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
}

/* -------- MAP --------  */

#map {
  height: 550px;
  width: 450px;
  z-index: 1;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .mapReservationBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #map {
    height: 400px;
    width: 680px;
    margin-bottom: 30px;
  }
}


/* -------- RECAP STATION --------  */

#reservationBlock {
  height: 100%;
  min-height: 550px;
  width: 450px;
  background-color: #DFE6E950;
  border-radius: 4px;
  padding: 30px;
}

#stationRecap h2, #noStationSelected{
  text-align: center;
  margin-bottom: 20px;
}

#dataStationSelected {
  margin: 20px auto 30px;
  display: none;
}

#dataStationSelected .dataLabel {
  color: #2D343680;
  font-weight: 900 !important;
  margin: 0 !important;
  text-align: left;
  font-size: 14px !important;
}

#stationName, #stationLocation, #stationStatus, #availableBikes {
  color: #2D3436;
  text-align: end;
  font-size: 12px;
  margin-bottom: 0 !important;
}

.inlineText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border-top: 1px solid #2D343630 !important;
  /*TODO: ajouter box shadow*/
}

@media (max-width: 768px) {
  #reservationBlock {
    height: 100%;
    min-height: 550px;
    width: 100%;
    padding: 40px;
  }
}


/* -------- FORM --------  */

#form {
  margin: 40px auto 30px ;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px 30px 30px;
}

.formInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#surname, #name {
  width: 100%;
  border: none;
  border:solid 1px #eeeeee;
  border-radius: 4px;
  height: 32px;
  padding: 10px;
}

label {
  margin-right: 14px;
  margin-bottom: 2px !important; ;
  font-size: 15px;
  color: #2D343670;
  text-align: left;
}

.formBtn {
  padding: 10px 16px;
  font-weight: 800 !important;
  border-radius: 4px !important;
  color: #ffffff;
  background-color: #58DDAF;
  align-content: center;
  margin-top: 10px;
}

.formBtn:hover {
  background-color: #2D3436;
}

.formBtn:disabled {
  background-color: #ededed;
}

#errorMsg {
  color: #FC4331;
}


/* -------- CANVAS --------  */

#canvasBlock {
  display: none;
}

#canvas {
  background-color: #ffffff;
  border-radius: 4px;
}

@media (max-width: 768px) {
  #canvas {
    width: 100%;
    height: 200px;
  }
}


/* ----------------- RECAP RESERVATION -----------------  */

#recapBlock {
  height: 100%;
  border: 2px solid #58DDAF;
  border-radius: 4px;
  padding: 30px;
  display: none;
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
}

#RecapBlock p {
  color: #2D343670;
}

#reservationRecap {
  padding-top: 20px;
  font-size: 18px
}

#userRecap {
  font-size: 18px;
  padding-bottom: 20px;
}

#timer{
  font-size: 24px;
  font-weight: 800;
  padding-top: 30px;
}

@media (max-width: 425px) {
  #reservationRecap, #userRecap {
    font-size: 16px;
  }
}


/* ----------------- FOOTER -----------------  */

#footer {
  padding-top: 1.5rem;
  color: #777777;
  border-top: .05rem solid #e5e5e5;
  text-align: center ;
}

@media (max-width: 425px) {
  #footer {
    padding-bottom: 20px;
  }
}



